
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

body {
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    background-color: rgb(0, 0, 0);
    background-image: url("bg.jpg");
    background-size: 180% auto; /* The image starts at 50% of the body's width */
    background-position: top-left; /* This starts the image from the left */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-attachment: fixed;
}

/* When the viewport height is less than or equal to its width (landscape orientation), 
   set the height of the image to 100% and scale the width automatically */
@media (max-aspect-ratio: 1/1) {
    body {
        background-size: auto 100%;
    }
}




@media (pointer:none), (pointer:coarse) {
    body {
	background-size: auto;
    }
}

h1 {
    margin-left: -20px; 
}

h2 {
    padding-bottom: 0.5rem;
}

a {
    color: rgb(35, 193, 255);
  }

.text-wrapper { 
    position: relative; 
    color: white;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 100px;   
    line-height: 1.5em; 
    padding-bottom: 2.5rem;
}

ol {
    padding: 0;
}

ol li {
    margin-left: 165px;
    padding-bottom: 50px; /* Add some padding to create space between list items */
    min-height: 250px; /* Optional, use this if you want to ensure a certain minimum height */
}




ol.img li {
    position: relative;
}

ol.img span {
    position: absolute;
    left: -200px;
    top: 0px;
}


footer {
    position: fixed;
    bottom:0;
    right:0.8rem;
    padding-top: 10px;
    text-align: right;
    width: 100%;
    height: 3rem;
}

.synth-text{
    font-size: 25px;   
    line-height: 1.3em;
}

.book-cover{
    width: 150px; 
    height: 206px;
}

/* Small screens (max width 480px) */
@media (max-width: 767px) {
    .text-wrapper {
        font-size: 30px;
        margin-right: 20px;
        margin-left: 30px;
    }
    .synth-text {
        font-size: 20px;
    }
    .book-cover{
        width: 100px; 
        height: 137px;
    }
    ol.img span {
        position: absolute;
        left: -135px;
        top: 0px;
    }
    ol li {
        margin-left: 120px;
        padding-bottom: 50px; /* Add some padding to create space between list items */
        min-height: 250px; /* Optional, use this if you want to ensure a certain minimum height */
    }
  }